<footer>
  <div class="primary-container">
    <div class="footer-logo">
      <img
        src="https://cdn.projectrexa.dedyn.io/certsecure/logo-dark.svg"
        alt="CertSecure Logo"
      />
    </div>
    <div class="primary-links">
      <a class="footer-link" href="/about-us">About Us</a>
      <a class="footer-link" href="/contact-us">Contact Us</a>
      <a class="footer-link" href="/frequently-asked-questions">FAQs</a>
      <a class="footer-link" href="/support">Support</a>
      <a class="footer-link" href="https://blog.projectrexa.dedyn.io">Blog</a>
    </div>
    <div class="social-links">
      <a
        class="footer-link"
        href="https://www.facebook.com/mhrdInnovation"
        target="_blank"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="footer-link"
        href="https://twitter.com/SIH2023_MIC"
        target="_blank"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        class="footer-link"
        href="https://www.instagram.com/mhrd.innovationcell"
        target="_blank"
        ><i class="fab fa-instagram"></i
      ></a>
    </div>
  </div>
  <hr class="footer-divider" />
  <div class="secondary-container">
    <div class="secondary-links">
      <a class="footer-link" href="/terms-of-service">Terms of Service</a>
      <a class="footer-link" href="/privacy-policy">Privacy Policy</a>
      <a class="footer-link" href="/cookie-policy">Cookie Policy</a>
    </div>
  </div>
</footer>
