<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="stylesheet" href="/static/css/forgot-password.css" />
    {% include 'frontend/partial/head.html' %}
    <title>Forgot Password | CertSecure</title>
  </head>
  <body>
    {% include 'frontend/partial/loader.html' %} {% include
    'frontend/partial/alerts.html' %}
    <main>
      {% include 'frontend/partial/top-navbar.html' %}
      <h1>Forgot Password</h1>
      <br />
      <br />
      <form>
        <div class="form-group">
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Enter your registered email address"
          />
        </div>
        <button class="btn btn-primary" onclick="forgotPassword(event)">
          Submit
        </button>
      </form>
    </main>
    <script src="/static/js/forgot-password.js"></script>
  </body>
</html>
